<ion-view title="compose" id="page2">
    <ion-content padding="true" class="has-header">
        <form id="compose-form2" class="list ">
            <label class="item item-select " id="compose-select1" name="place">
                <span class="input-label">select a place</span>
                <select></select>
            </label>
            <label class="item item-select " id="compose-select2" name="item">
                <span class="input-label">select a dish</span>
                <select></select>
            </label>
            <ion-item class="range range-positive " id="compose-range1">
                <input type="range" value="0" min="0" max="5" name="rating">
            </ion-item>
            <label class="item item-input " id="compose-textarea1" name="comments">
                <span class="input-label"></span><textarea placeholder="comments"></textarea>
            </label>
            <div class="spacer" style="width: 300px; height: 55px;"></div>
        </form>
        <button id="compose-button4" class=" button button-positive  button-block ">save</button>
    </ion-content>
</ion-view>